@page "/app/paper/add"

<MRow>
    <MCardText>
        <h1>add paper is edit: @IsEdit</h1>
    </MCardText>
    <MForm></MForm>
</MRow>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private bool IsEdit => Id.HasValue;
}