@page "/dashboard"
@inherits ProComponentBase
@inject NavigationManager NavigationManager

<MRow>
    <MCol Md=3 Sm=12>
        <MCard Height=146>
            <MCardText>
                <MRow Class="max-height" NoGutters>
                    <MCol>
                        <span class="text-btn neutral-lighten-4--text">个人今日出单量</span>
                        <h5 class="mt-1">施工中</h5>
                        <MButton
                            Color="primary" Height=30
                            Class="white--text text-btn rounded-pill"
                            Style="bottom:16px;position:absolute"
                            OnClick='() => NavigationManager.NavigateTo("/app/paper/add")'>
                            @T("Paper.Add")
                        </MButton>
                    </MCol>
                    <MCol>
                        <MImage Src="/img/trophy.png"></MImage>
                    </MCol>
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Md=3 Sm=12>
        <MCard Height=146>
            <MCardText>
                <MRow Class="max-height" NoGutters>
                    <MCol>
                        <span class="text-btn neutral-lighten-4--text">个人总出单量</span>
                        <h5 class="mt-1">施工中</h5>
                    </MCol>
                    @* <MCol Class="block-center"> *@
                    @*     <MECharts Height=100 Width="@("100%")" Class="mt-1" Option=_orderChart></MECharts> *@
                    @* </MCol> *@
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Md=3 Sm=12>
        <MCard Height=146>
            <MCardText>
                <MRow Class="max-height" NoGutters>
                    <MCol>
                        <span class="text-btn neutral-lighten-4--text">网服今日出单量</span>
                        <h5 class="mt-1">施工中</h5>
                    </MCol>
                    @* <MCol Class="block-center"> *@
                    @*     <MECharts Height=100 Width="@("100%")" Class="mt-1" Option=_profitChart></MECharts> *@
                    @* </MCol> *@
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Md=3 Sm=12>
        <MCard Height=146>
            <MCardText>
                <MRow Class="max-height" NoGutters>
                    <MCol>
                        <span class="text-btn neutral-lighten-4--text">网服总出单量</span>
                        <h5 class="my-1">施工中</h5>
                        @* <span class="text-caption neutral-lighten-2--text">68% more earning than last month.</span> *@
                    </MCol>
                    @* <MCol Class="block-center"> *@
                    @*     <MECharts Height=100 Width="@("100%")" Class="mt-1" Option=_earningsChart></MECharts> *@
                    @* </MCol> *@
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
</MRow>

@code {

}